body {
    font-family: Arial, sans-serif;
    background-color: #ee82ee; /* This sets the background to pink  for green(#0be1de;)*/
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
}

p {
    color: #555;
}
